In [1]:
import pandas as pd

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data=pd.read_csv("cleaned.csv")

In [4]:
data.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,No address,NYC,NY,10022,USA,Earth,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,No address,Reims,No State,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,No address,Paris,No State,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,No address,Pasadena,CA,90003,USA,Earth,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,No address,San Francisco,CA,00000,USA,Earth,Brown,Julie,Medium

In [5]:
data.isnull().sum()

ORDERNUMBER         0
QUANTITYORDERED     0
PRICEEACH           0
ORDERLINENUMBER     0
SALES               0
ORDERDATE           0
STATUS              0
QTR_ID              0
MONTH_ID            0
YEAR_ID             0
PRODUCTLINE         0
MSRP                0
PRODUCTCODE         0
CUSTOMERNAME        0
PHONE               0
ADDRESSLINE1        0
ADDRESSLINE2        0
CITY                0
STATE               0
POSTALCODE          0
COUNTRY             0
TERRITORY           0
CONTACTLASTNAME     0
CONTACTFIRSTNAME    0
DEALSIZE            0
dtype: int64

In [6]:
data.drop("POSTALCODE",axis=1)

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,PHONE,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,2125557818,897 Long Airport Avenue,No address,NYC,NY,USA,Earth,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,26.47.1555,59 rue de l'Abbaye,No address,Reims,No State,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,No address,Paris,No State,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,6265557265,78934 Hillside Dr.,No address,Pasadena,CA,USA,Earth,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,6505551386,7734 Strong St.,No address,San Francisco,CA,USA,Earth,Brown,Julie,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,100.00,15,2244.40,12/2/2004 0:00,Shipped,4,12,2004,...,(91) 555 94 44,"C/ Moralzarzal, 86",No address,Madrid,No State,Spain,EMEA,Freyre,Diego,Small
2819,10373,29,100.00,1,3978.51,1/31/2005 0:00,Shipped,1,1,2005,...,981-443655,Torikatu 38,No address,Oulu,No State,Finland,EMEA,Koskitalo,Pirkko,Medium
2820,10386,43,100.00,4,5417.57,3/1/2005 0:00,Resolved,1,3,2005,...,(91) 555 94 44,"C/ Moralzarzal, 86",No address,Madrid,No State,Spain,EMEA,Freyre,Diego,Medium
2821,10397,34,62.24,1,2116.16,3/28/2005 0:00,Shipped,1,3,2005,...,61.77.6555,1 rue Alsace-Lorraine,No address,Toulouse,No State,France,EMEA,Roulet,Annette,Small
2822,10414,47,65.52,9,3079.44,5/6/2005 0:00,On Hold,2,5,2005,...,6175559555,8616 Spinnaker Dr.,No address,Boston,MA,USA,Earth,Yoshido,Juri,Medium

In [7]:
total_revenue =data["SALES"].sum()/1000000

In [8]:
total_revenue= total_revenue.round(2)
print("Total Revenue: ",total_revenue," Millions")

Total Revenue:  10.03  Millions

In [9]:
total_sales=data.groupby("TERRITORY")["SALES"].sum().sort_values(ascending=False)

In [10]:
data_total_sales =total_sales.reset_index()
data_total_sales.columns = ["Region","Amount"]

In [11]:
data_total_sales

  Region      Amount
0   EMEA  4979272.41
1  Earth  3852061.39
2   APAC   746121.83
3  Japan   455173.22

In [25]:
total_sales_by_country = data.groupby("COUNTRY")["ORDERNUMBER"].count().sort_values(ascending=False)
data_total_sales_by_count =total_sales_by_country.reset_index()
data_total_sales_by_count.columns ={"Country","No of Order"}

In [26]:
data_total_sales_by_count

        Country  No of Order
0           USA         1004
1         Spain          342
2        France          314
3     Australia          185
4            UK          144
5         Italy          113
6       Finland           92
7        Norway           85
8     Singapore           79
9        Canada           70
10      Denmark           63
11      Germany           62
12       Sweden           57
13      Austria           55
14        Japan           52
15      Belgium           33
16  Switzerland           31
17  Philippines           26
18      Ireland           16

In [14]:
most_bought_by_country =data.groupby("COUNTRY")["PRODUCTLINE"].agg(lambda x: x.value_counts().idxmax())

In [27]:
data_most_bought_by_country = most_bought_by_country.reset_index()
data_most_bought_by_country.columns={"Country","Most frequently used"}

In [28]:
data_most_bought_by_country

        Country Most frequently used
0     Australia         Vintage Cars
1       Austria         Classic Cars
2       Belgium         Vintage Cars
3        Canada     Trucks and Buses
4       Denmark         Classic Cars
5       Finland         Classic Cars
6        France         Classic Cars
7       Germany         Classic Cars
8       Ireland         Classic Cars
9         Italy         Vintage Cars
10        Japan               Planes
11       Norway         Classic Cars
12  Philippines         Classic Cars
13    Singapore         Classic Cars
14        Spain         Classic Cars
15       Sweden         Classic Cars
16  Switzerland         Classic Cars
17           UK         Classic Cars
18          USA         Classic Cars

In [17]:
data[data.select_dtypes(include='number').lt(0).any(axis=1)]

Empty DataFrame
Columns: [ORDERNUMBER, QUANTITYORDERED, PRICEEACH, ORDERLINENUMBER, SALES, ORDERDATE, STATUS, QTR_ID, MONTH_ID, YEAR_ID, PRODUCTLINE, MSRP, PRODUCTCODE, CUSTOMERNAME, PHONE, ADDRESSLINE1, ADDRESSLINE2, CITY, STATE, POSTALCODE, COUNTRY, TERRITORY, CONTACTLASTNAME, CONTACTFIRSTNAME, DEALSIZE]
Index: []

[0 rows x 25 columns]

In [18]:
data["ORDERDATA"] =pd.to_datetime(data["ORDERDATE"],errors='coerce')

In [19]:
pd.set_option("display.max_columns",None)

In [20]:
display(data.groupby("COUNTRY")["SALES"].mean().to_frame())

                   SALES
COUNTRY
Australia    3408.773514
Austria      3673.864182
Belgium      3285.230909
Canada       3201.122286
Denmark      3899.002381
Finland      3582.412065
France       3537.950701
Germany      3556.001452
Ireland      3609.776875
Italy        3315.701858
Japan        3618.611731
Norway       3617.220000
Philippines  3615.989615
Singapore    3651.752025
Spain        3554.640117
Sweden       3684.459825
Switzerland  3797.211613
UK           3325.558750
USA          3613.528715

In [21]:
data.loc[data["TERRITORY"]=="Earth","TERRITORY"] = "AMER"

In [22]:
data.loc[data["COUNTRY"]=="Singapore","TERRITORY"] = "APAC"

In [23]:
data.loc[data["COUNTRY"]=="Philippines","TERRITORY"] = "APAC"

In [24]:
display(data.groupby(["TERRITORY","COUNTRY"])["SALES"].mean().to_frame())

                             SALES
TERRITORY COUNTRY
AMER      Canada       3201.122286
          USA          3613.528715
APAC      Australia    3408.773514
          Philippines  3615.989615
          Singapore    3651.752025
EMEA      Austria      3673.864182
          Belgium      3285.230909
          Denmark      3899.002381
          Finland      3582.412065
          France       3537.950701
          Germany      3556.001452
          Ireland      3609.776875
          Italy        3315.701858
          Norway       3617.220000
          Spain        3554.640117
          Sweden       3684.459825
          Switzerland  3797.211613
          UK           3325.558750
Japan     Japan        3618.611731

In [38]:
data.loc[data["TERRITORY"]=="APEC","TERRITORY"]="APAC"

In [39]:
data.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE,ORDERDATA
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,Motorcycles,95,S10_1678,Land of Toys Inc.,2125557818,897 Long Airport Avenue,No address,NYC,NY,10022,USA,AMER,Yu,Kwai,Small,2003-02-24
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,Motorcycles,95,S10_1678,Reims Collectables,26.47.1555,59 rue de l'Abbaye,No address,Reims,No State,51100,France,EMEA,Henriot,Paul,Small,2003-05-07
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,Motorcycles,95,S10_1678,Lyon Souveniers,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,No address,Paris,No State,75508,France,EMEA,Da Cunha,Daniel,Medium,2003-07-01
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,Motorcycles,95,S10_1678,Toys4GrownUps.com,6265557265,78934 Hillside Dr.,No address,Pasadena,CA,90003,USA,AMER,Young,Julie,Medium,2003-08-25
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,Motorcycles,95,S10_1678,Corporate Gift Ideas Co.,6505551386,7734 Strong St.,No address,San Francisco,CA,00000,USA,AMER,Brown,Julie,Medium,2003-10-10

In [40]:
display(data.groupby(["TERRITORY","COUNTRY"])["SALES"].mean().to_frame())

                             SALES
TERRITORY COUNTRY
AMER      Canada       3201.122286
          USA          3613.528715
APAC      Australia    3408.773514
          Japan        3618.611731
          Philippines  3615.989615
          Singapore    3651.752025
EMEA      Austria      3673.864182
          Belgium      3285.230909
          Denmark      3899.002381
          Finland      3582.412065
          France       3537.950701
          Germany      3556.001452
          Ireland      3609.776875
          Italy        3315.701858
          Norway       3617.220000
          Spain        3554.640117
          Sweden       3684.459825
          Switzerland  3797.211613
          UK           3325.558750

In [41]:
data.loc[data["TERRITORY"]=="EMEA","TERRITORY"] ="Europe"

In [42]:
display(data.groupby(["TERRITORY","COUNTRY"])["SALES"].mean().to_frame())

                             SALES
TERRITORY COUNTRY
AMER      Canada       3201.122286
          USA          3613.528715
APAC      Australia    3408.773514
          Japan        3618.611731
          Philippines  3615.989615
          Singapore    3651.752025
Europe    Austria      3673.864182
          Belgium      3285.230909
          Denmark      3899.002381
          Finland      3582.412065
          France       3537.950701
          Germany      3556.001452
          Ireland      3609.776875
          Italy        3315.701858
          Norway       3617.220000
          Spain        3554.640117
          Sweden       3684.459825
          Switzerland  3797.211613
          UK           3325.558750

In [43]:
data.loc[data["COUNTRY"]=="USA","COUNTRY"]="United States of America"
data.loc[data["COUNTRY"]=="UK","COUNTRY"]="United Kingdoms"

In [44]:
display(data.groupby(["TERRITORY","COUNTRY"])["SALES"].mean().to_frame())

                                          SALES
TERRITORY COUNTRY
AMER      Canada                    3201.122286
          United States of America  3613.528715
APAC      Australia                 3408.773514
          Japan                     3618.611731
          Philippines               3615.989615
          Singapore                 3651.752025
Europe    Austria                   3673.864182
          Belgium                   3285.230909
          Denmark                   3899.002381
          Finland                   3582.412065
          France                    3537.950701
          Germany                   3556.001452
          Ireland                   3609.776875
          Italy                     3315.701858
          Norway                    3617.220000
          Spain                     3554.640117
          Sweden                    3684.459825
          Switzerland               3797.211613
          United Kingdoms           3325.558750

In [51]:
data["ORDERDATE"] = pd.to_datetime(data["ORDERDATE"], errors='coerce')

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDERNUMBER       2823 non-null   int64
 1   QUANTITYORDERED   2823 non-null   int64
 2   PRICEEACH         2823 non-null   float64
 3   ORDERLINENUMBER   2823 non-null   int64
 4   SALES             2823 non-null   float64
 5   ORDERDATE         2823 non-null   datetime64[ns]
 6   STATUS            2823 non-null   object
 7   QTR_ID            2823 non-null   int64
 8   MONTH_ID          2823 non-null   int64
 9   YEAR_ID           2823 non-null   int64
 10  PRODUCTLINE       2823 non-null   object
 11  MSRP              2823 non-null   int64
 12  PRODUCTCODE       2823 non-null   object
 13  CUSTOMERNAME      2823 non-null   object
 14  PHONE             2823 non-null   object
 15  ADDRESSLINE1      2823 non-null   object
 16  ADDRESSLINE2      2823 non-null   object
 17  CITY              2823 non-null   object
 18  STATE             2823 non-null   object
 19  POSTALCODE        2823 non-null   object
 20  COUNTRY           2823 non-null   object
 21  TERRITORY         2823 non-null   object
 22  CONTACTLASTNAME   2823 non-null   object
 23  CONTACTFIRSTNAME  2823 non-null   object
 24  DEALSIZE          2823 non-null   object
 25  ORDERDATA         2823 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(2), int64(7), object(15)
memory usage: 573.6+ KB

In [61]:
data["only_day"]=data["ORDERDATE"].dt.day

In [62]:
data.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE,ORDERDATA,only_month,only_year,only_day
0,10107,30,95.70,2,2871.00,2003-02-24,Shipped,1,2,2003,Motorcycles,95,S10_1678,Land of Toys Inc.,2125557818,897 Long Airport Avenue,No address,NYC,NY,10022,United States of America,AMER,Yu,Kwai,Small,2003-02-24,2,2003,24
1,10121,34,81.35,5,2765.90,2003-05-07,Shipped,2,5,2003,Motorcycles,95,S10_1678,Reims Collectables,26.47.1555,59 rue de l'Abbaye,No address,Reims,No State,51100,France,Europe,Henriot,Paul,Small,2003-05-07,5,2003,7
2,10134,41,94.74,2,3884.34,2003-07-01,Shipped,3,7,2003,Motorcycles,95,S10_1678,Lyon Souveniers,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,No address,Paris,No State,75508,France,Europe,Da Cunha,Daniel,Medium,2003-07-01,7,2003,1
3,10145,45,83.26,6,3746.70,2003-08-25,Shipped,3,8,2003,Motorcycles,95,S10_1678,Toys4GrownUps.com,6265557265,78934 Hillside Dr.,No address,Pasadena,CA,90003,United States of America,AMER,Young,Julie,Medium,2003-08-25,8,2003,25
4,10159,49,100.00,14,5205.27,2003-10-10,Shipped,4,10,2003,Motorcycles,95,S10_1678,Corporate Gift Ideas Co.,6505551386,7734 Strong St.,No address,San Francisco,CA,00000,United States of America,AMER,Brown,Julie,Medium,2003-10-10,10,2003,10

In [63]:
data["only_month"]=data["ORDERDATE"].dt.month
data["only_year"]=data["ORDERDATE"].dt.year

In [64]:
data.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE,ORDERDATA,only_month,only_year,only_day
0,10107,30,95.70,2,2871.00,2003-02-24,Shipped,1,2,2003,Motorcycles,95,S10_1678,Land of Toys Inc.,2125557818,897 Long Airport Avenue,No address,NYC,NY,10022,United States of America,AMER,Yu,Kwai,Small,2003-02-24,2,2003,24
1,10121,34,81.35,5,2765.90,2003-05-07,Shipped,2,5,2003,Motorcycles,95,S10_1678,Reims Collectables,26.47.1555,59 rue de l'Abbaye,No address,Reims,No State,51100,France,Europe,Henriot,Paul,Small,2003-05-07,5,2003,7
2,10134,41,94.74,2,3884.34,2003-07-01,Shipped,3,7,2003,Motorcycles,95,S10_1678,Lyon Souveniers,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,No address,Paris,No State,75508,France,Europe,Da Cunha,Daniel,Medium,2003-07-01,7,2003,1
3,10145,45,83.26,6,3746.70,2003-08-25,Shipped,3,8,2003,Motorcycles,95,S10_1678,Toys4GrownUps.com,6265557265,78934 Hillside Dr.,No address,Pasadena,CA,90003,United States of America,AMER,Young,Julie,Medium,2003-08-25,8,2003,25
4,10159,49,100.00,14,5205.27,2003-10-10,Shipped,4,10,2003,Motorcycles,95,S10_1678,Corporate Gift Ideas Co.,6505551386,7734 Strong St.,No address,San Francisco,CA,00000,United States of America,AMER,Brown,Julie,Medium,2003-10-10,10,2003,10